<div th:fragment="author_contents">
	<h1>[[${author}]]の作品一覧</h1>
	<table class="table table-bordered">
			<tr>
				<th class="info col-lg-1">No.</th>
				<th class="info col-lg-3">タイトル</th>
				<th class="info col-lg-3">著者</th>
				<th class="info col-lg-3">投稿者</th>
				<th class="info col-lg-2">評価</th>
			</tr>
			<tr th:each="book: ${bookList}">
				<td th:text="*{book.id}"></td>
				<td><a th:href="@{'/bookDetail/' + *{book.id}}" th:text="*{book.title}"></a></td>
				<td><a th:href="@{'/' + *{book.author}}" th:text="*{book.author}"></a></td>
				<td><a th:href="@{'/userDetail/' + *{book.user.id}}"><span th:text="*{book.user.name}"></span></td>
				<td>
				    <script th:inline="javascript">
					  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
				      $(function(){
				        $('#evaluation'+ [[*{book.id}]]).raty({number: 5, score: /*[[*{book.evaluation}]]*/, readOnly: true});
				      });
				    </script>
				    <div th:id="'evaluation' + *{book.id}"></div>
				</td>
			</tr>
		</table>
</div>