<body>
	<div th:fragment="bookDetail_contents" th:each="book: ${book}">
		<h1><span th:text="*{book.title}"></span>の詳細</h1>
		<table class="table table-bordered">
			<tr>
				<th class="info col-lg-2">タイトル</th>
				<td th:text="*{book.title}"></td>
			</tr>
			<tr>
				<th class="info col-lg-2">著者</th>
				<td th:text="*{book.author}"></td>
			</tr>
			<tr>
				<th class="info">感想</th>
				<td th:text="*{book.body}"></td>
			</tr>
			<tr>
				<th class="info">評価</th>
				<td>
					<script th:inline="javascript">
					  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
				      $(function(){
				        $('#evaluation').raty({number: 5, score: [[${book.evaluation}]], readOnly: true});
				      });
				    </script>
				    <span id="evaluation"></span><small>([[${count}]]件)</small>
				</td>
			</tr>
		</table>
		<h4>投稿者: <a th:href="@{'/userDetail/' + ${book.user.id}}"><span th:text="*{book.user.name}"></span></a></h4>
		<a class="btn btn-primary pull-right" th:href="@{'/bookEdit/' + ${id}}">編集</a>
		<div class="pull-left">
			<form method="post" th:action="@{'/bookDetail/'+ ${book.id} +'/postEvaluation'}">
				<script>
				  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
			      $(function(){
			        $('#star').raty({number: 5, score: 1, scoreName: 'num'});
			      });
			    </script>
			    <div class="form-group" id="star">
			    	<span>評価:</span><input type="hidden" th:value="${num}">
			    	<input class="pull-right btn btn-success" type="submit" value="評価送信" style="margin-left: 1vh;">
			    </div>
			</form>
		</div>
		<div style="margin-top: 10vh;">
			<form method="post" th:action="@{${book.id} + '/postComment'}" th:object="${commentForm}">
				<div class="form-group" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
					<textarea rows="5" class="form-control" th:field="*{comment}" required="true"></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment error</span>
				</div>
				<div class="form-group">
					<button class="btn btn-success form-control" type="submit">コメント投稿</button>
				</div>
			</form>
		</div>
		<h4>コメント一覧</h4>
		<table class="table">
			<tr>
				<th class="col-lg-2">ユーザー名</th>
				<th>コメント</th>
			</tr>
			<tr th:each="comment: ${comments}">
				<td><a th:href="@{'/userDetail/' + ${comment.user.id}}" th:text="*{comment.user.name}"></a></td>
				<td th:text="*{comment.comment}"></td>
			</tr>
		</table>
	</div>
</body>