<body>
	<div th:fragment="bookList_contents">
		<h1 class="text-center">投稿一覧</h1>
		<table class="table table-bordered">
			<tr>
				<th class="info col-lg-4">タイトル</th>
				<th class="info col-lg-4">投稿者</th>
				<th class="info col-lg-4"></th>
			</tr>
			<tr th:each="book: ${bookList}">
				<td th:text="${book.title}"></td>
				<td><a th:href="@{'/userDetail/' + ${book.user.id}}"><span th:text="${book.user.name}"></span></td>
				<td><a class="btn btn-primary" th:href="@{'/bookDetail/' + ${book.title}}">詳細</a></td>
			</tr>
		</table>
	</div>
</body>