<div th:fragment="bookEdit_contents">
	<form method="post" th:action="@{/bookEdit}" th:object="${bookForm}">
		<h1 class="text-center">編集ページ</h1>
		<table style="margin-top: 10vh;">
			<tr>
				<input type="hidden" th:field="*{id}">
				<th class="active col-lg-2">タイトル</th>
				<td class="col-lg-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
						<input type="text" class="form-control" th:field="*{title}">
						<span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
							title error
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<th class="active col-lg-2">著者</th>
				<td class="col-lg-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('author')} ? 'has-error'">
						<input type="text" class="form-control" th:field="*{author}">
						<span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
							Title error
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<th class="active col-lg-2">ジャンル</th>
				<td class="col-lg-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('genre')} ? 'has-error'">
						<input type="text" class="form-control" th:field="*{genre}">
						<span class="text-danger" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">
							genre error
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<th class="active col-lg-2" th:classappend="${#fields.hasErrors('body')} ? 'has-error'">感想</th>
				<td class="col-lg-3">
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{body}">
					</div>
					<span class="text-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">
						title error
					</span>
				</td>
			</tr>
			<tr>
				<th class="active col-lg-2">ユーザーID</th>
				<td class="col-lg-3">
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{user.id}" readonly="readonly">
					</div>
				</td>
			</tr>
		</table>
		<a class="btn btn-default btn-lg pull-left" th:href="@{'/bookDetail/' + *{id}}">戻る</a>
		<button class="btn btn-danger btn-lg pull-right" type="submit" name="delete">
			削除
		</button>
		<button class="btn btn-primary btn-lg pull-right" type="submit" name="update">
			更新
		</button>
	</form>
</div>