<div th:fragment="book_table">
	<table class="table table-bordered">
		<tr>
			<th class="info col-lg-1">投稿日</th>
			<th class="info col-lg-3">タイトル</th>
			<th class="info col-lg-2">著者</th>
			<th class="info col-lg-2">ジャンル</th>
			<th class="info col-lg-2">投稿者</th>
			<th class="info col-lg-2">評価</th>
		</tr>
		<tr th:each="book: ${bookList}">
			<td th:text="*{#dates.format(book.createdAt, 'yyyy/MM/dd')}" style="vertical-align: bottom;"></td>
			<td>
				<a th:href="@{'/bookDetail/' + *{book.id}}">
					<img th:src="@{*{book.image}}" width="80" height="100">
				</a>
				<br>
				<a th:href="@{'/bookDetail/' + *{book.id}}" th:text="*{book.title}"></a>
			</td>
			<td style="vertical-align: bottom;">
				<a th:href="@{'/author/' + *{book.author}}" th:text="*{book.author}"></a>
			</td>
			<td style="vertical-align: bottom;">
				<a th:href="@{'/genre/' + *{book.genre}}" th:text="*{book.genre}"></a>
			</td>
			<td style="vertical-align: bottom;">
				<a th:href="@{'/userDetail/' + *{book.user.id}}"><span th:text="*{book.user.name}"></span>
			</td>
			<td style="vertical-align: bottom;">
			    <script th:inline="javascript">
				  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
			      $(function(){
			        $('#evaluation'+ [[*{book.id}]]).raty({number: 5, score: /*[[*{book.evaluation}]]*/, readOnly: true});
			      });
			    </script>
			    <div th:id="'evaluation' + *{book.id}"></div>
			</td>
		</tr>
	</table>
</div>