<div th:fragment="comment_list">
	<h4>コメント</h4>
	<table class="table" th:each="comment: ${comments}">
		<tr style="word-wrap: break-word;" th:if="${editId != comment.id}">
			<p th:text="*{comment.comment}" th:id="'comment'+ ${comment.id}"></p>

			<!-- 返信用ボタン -->
			<a class="btn btn-success pull-right" style="margin-left: 1vh;"
				th:if="${reply != true && editReplyId == null}"
				th:href="@{'/bookDetail/'+ ${book.id} +'/postReply/'+ *{comment.id}}">返信
			</a>
			<!-- 編集用ボタン -->
			<a th:if="${userId == comment.user.id}"
				th:href="@{'/bookDetail/'+ ${book.id} +'/editComment/'+ *{comment.id} + '#comment' + *{comment.id}}"
				class="btn btn-primary pull-right" style="margin-left: 1vh;">編集
			</a>
			<!-- 評価 -->
			<script th:inline="javascript">
			  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
		      $(function(){
		        $('#evaluation'+ [[*{comment.id}]]).raty({number: 5, score: /*[[*{comment.evaluation}]]*/, readOnly: true});
		      });
		    </script>
			<span th:id="'evaluation' + *{comment.id}" class="pull-right" style="padding-left: 1vh;"></span>
			<!-- ユーザー名 -->
			<a class="pull-right" th:href="@{'/userDetail/' + *{comment.user.id}}"
			th:text="*{comment.user.name}" style="padding-left: 1vh;"></a>
			<!-- 投稿日 -->
			<span class="pull-right" th:text="*{#dates.format(book.createdAt, 'yyyy/MM/dd')}"></span>
			<!-- 返信一覧 -->
			<div  th:if="${not #lists.isEmpty(comment.reply)}">
				<div th:include="__${replyList}__"></div>
			</div>
		</tr>
		<!-- 返信 -->
		<div th:if="${reply == true && commentId == comment.id}" style="margin-top: 10vh;">
			<div th:include="__${replyArea}__"></div>
		</div>
	</table>
	<div id="bottom"></div>
</div>