<div th:fragment="comment_list">
	<h4>コメント一覧</h4>
	<table class="table" th:each="comment: ${comments}">
		<tr style="word-wrap: break-word;" th:if="${editId == null}">
			<p th:text="*{comment.comment}"></p>
			<details th:if="${not #lists.isEmpty(comment.reply)}">
				<summary>コメントへの返信([[*{comment.countReply}]])</summary>
				<div th:each="replys: *{comment.reply}">
					<div th:if="*{comment.id == replys.comment.id}">
			   			<p><span th:text="*{replys.user.name}"></span>: <span th:text="*{replys.reply}"></span></p>
					</div>
				</div>
			</details>
			<a class="btn btn-success pull-right" style="margin-left: 1vh;"
				th:if="${reply != true}"
				th:href="@{'/bookDetail/'+ ${book.id} +'/postReply/'+ *{comment.id}}">返信
			</a>
			<a th:if="${userId == comment.user.id}"
				th:href="@{'/bookDetail/'+ ${book.id} +'/editComment/'+ *{comment.id}}"
				class="btn btn-primary pull-right" style="margin-left: 1vh;">編集
			</a>
			<span th:id="'evaluation' + *{comment.id}" class="pull-right" style="padding-left: 1vh;"></span>
			<a class="pull-right" th:href="@{'/userDetail/' + *{comment.user.id}}"
			th:text="*{comment.user.name}" style="padding-left: 1vh;"></a>
			<span class="pull-right" th:text="*{#dates.format(book.createdAt, 'yyyy/MM/dd')}"></span>
			<script th:inline="javascript">
			  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
		      $(function(){
		        $('#evaluation'+ [[*{comment.id}]]).raty({number: 5, score: /*[[*{comment.evaluation}]]*/, readOnly: true});
		      });
		    </script>
		</tr>
		<!-- コメント編集 -->
		<tr th:if="${editId != null}">
			<div th:if="${editId != comment.id}">
				<p th:text="*{comment.comment}"></p>
				<span th:id="'evaluation' + *{comment.id}" class="pull-right" style="padding-left: 1vh;"></span>
				<a class="pull-right" th:href="@{'/userDetail/' + *{comment.user.id}}"
				th:text="*{comment.user.name}" style="padding-left: 1vh;"></a>
				<span class="pull-right" th:text="*{#dates.format(book.createdAt, 'yyyy/MM/dd')}"></span>
				<script th:inline="javascript">
				  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
			      $(function(){
			        $('#evaluation'+ [[*{comment.id}]]).raty({number: 5, score: /*[[*{comment.evaluation}]]*/, readOnly: true});
			      });
			    </script>
			</div>
			<form th:if="${editId == comment.id}" method="post"
				th:action="@{'/bookDetail/'+ ${book.id} + '/editComment/'+ ${comment.id}}"
				th:object="${commentForm}">
				<div class="form-group" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
					<textarea rows="5" class="form-control" required="true" th:field="*{comment}"></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment error</span>
				</div>
				<script>
				  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
			      $(function(){
			        $('#star').raty({number: 5, score: [[*{evaluation}]], scoreName: 'num'});
			      });
			    </script>
			    <div class="form-group pull-right" id="star" style="padding-right: 1vh;">
			    	<span>評価:</span><input type="hidden" th:value="${num}">
			    </div>
			    <div class="form-group pull-right">
					<button class="btn btn-success form-control" type="submit">投稿</button>
				</div>
			</form>
		</tr>
		<!-- 返信 -->
		<tr th:if="${reply == true && commentId == comment.id}">
			<form method="post" th:object="${replyForm}"
				th:action="@{'/bookDetail/'+ ${book.id} + '/postReply/'+ ${comment.id}}">
				<div class="form-group">
					<textarea rows="5" class="form-control" required="true" th:field="*{reply}"></textarea>
				</div>
				<div class="form-group pull-right">
					<button class="btn btn-success form-control" type="submit">返信</button>
				</div>
			</form>
		</tr>
	</table>
</div>