<div th:fragment="edit_reply">
	<form method="post" th:object="${replyForm}"
		th:action="@{'/bookDetail/'+ ${book.id} + '/editReply/'+ ${editReplyId}}">
		<div class="form-group" th:id="'reply' + ${editReplyId}">
			<textarea rows="5" class="form-control" required="true" th:field="*{reply}"></textarea>
		</div>
		<div class="form-group pull-right">
			<button name="delete" class="btn btn-danger form-control" type="submit">削除</button>
		</div>
		<div class="form-group pull-right">
			<button class="btn btn-success form-control" type="submit">編集完了</button>
		</div>
	</form>
</div>