<div th:fragment="edit_comment">
	<form  method="post"
		th:action="@{'/bookDetail/'+ ${book.id} + '/editComment/'+ ${commentId}}"
		th:object="${commentForm}">
		<h4>コメント・評価 編集</h4>
		<div class="form-group" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
			<textarea rows="5" class="form-control" required="true" th:field="*{comment}"></textarea>
			<span class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment error</span>
		</div>
		<div class="pull-right">
			<button class="btn btn-danger" type="submit" name="delete">
				削除
			</button>
		</div>
	    <div class="form-group pull-right">
			<button class="btn btn-success form-control" type="submit">編集完了</button>
		</div>
		<script>
		  $.fn.raty.defaults.path = "/webjars/jquery-raty/2.7.0/images";
	      $(function(){
	        $('#update').raty({number: 5, score: [[*{evaluation}]], scoreName: 'num'});
	      });
	    </script>
		<div class="form-group pull-right" id="update" style="padding-right: 1vh;">
	    	<span>評価:</span><input type="hidden" th:value="${num}">
	    </div>
	</form>
</div>