<div th:fragment="reply_list">
	<details>
		<summary>コメントへの返信([[*{comment.countReply}]])</summary>
		<div th:each="replys: *{comment.reply}">
			<div th:if="*{comment.id == replys.comment.id}">
	   			<p th:if="${editReplyId != replys.id}">
	   				<span th:text="*{replys.user.name}"></span>: <span th:text="*{replys.reply}"></span>
	   				<a th:href="@{'/bookDetail/'+ ${book.id} +'/editReply/'+ ${replys.id}}"
	   					th:if="${userId == replys.user.id}"
	   					class="btn btn-primary">編集</a>
				</p>
				<div th:if="${editReplyId == replys.id}">
					<div th:include="__${editReply}__"></div>
				</div>
			</div>
		</div>
	</details>
</div>