<html>
	<body>
		<div th:fragment="login_contents">
			<div class="col-lg-8 col-lg-offset-2">
				<h1 class="text-center">ログイン</h1>
				<form method="post" th:action="@{/login}">
					<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
						th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">
						ログインエラーメッセージ
					</p>
					<label>ID</label>
					<input type="text" name="id" class="form-control">
					<br>
					<label>パスワード</label>
					<input type="password" name="password" class="form-control">
					<br>
					<button class="btn btn-primary form-control" type="submit">ログイン</button>
				</form>
				<a th:href="@{'/signup'}">新規登録はこちら</a>
			</div>
		</div>
	</body>
</html>