<body>
	<div th:fragment="userDetail_contents">
		<div class="row" th:each="user: ${user}">
			<div class="col-lg-4">
				<div style="margin-top: 10vh;">
					<table>
						<tr>
							<th class="active">ユーザーID</th>
						</tr>
						<tr>
							<td class="col-lg-3" th:text="*{user.userId}"></td>
						</tr>
						<tr>
							<th class="active">ユーザー名</th>
						</tr>
						<tr>
							<td class="col-lg-3" th:text="*{user.name}"></td>
						</tr>
						<tr>
							<td><br><br><a class="btn btn-primary col-lg-6" th:href="@{'/userEdit/' + ${user.userId}}">編集</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-lg-8">
				<h1 class="text-center"><span th:text="*{user.name}"></span>さんの投稿一覧</h1>
				<table class="table">
					<tr>
						<th>タイトル</th>
						<th>感想</th>
						<th></th>
					</tr>
					<tr th:each="book: ${books}">
						<td th:text="${book.title}"></td>
						<td th:text="${book.body}"></td>
						<td th:text="${book.userId}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>