<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head><meta charset="UTF-8"></head>
	<body>
		<div th:fragment="userList_contents">
			<div class="col-lg-offset-2 col-lg-8">
				<h1 class="text-center">ユーザー一覧</h1>
				<table class="table table-bordered">
					<tr>
						<th class="info col-lg-1">登録日</th>
						<th class="info col-lg-4">名前</th>
						<th class="info col-lg-4">最終ログイン</th>
					</tr>
					<tr th:each="user: ${userList}">
						<td th:text="${#dates.format(user.createdAt, 'yyyy/MM/dd')}"></td>
						<td><a th:href="@{'/userDetail/' + ${user.id}}" th:text="${user.name}"></a></td>
						<td th:text="${#dates.format(user.lastLogin, 'yyyy/MM/dd HH:mm')}"></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>