<body>
	<div th:fragment="userDetail_contents">
		<div class="row" th:each="user: ${user}">
			<div class="col-lg-4">
				<div style="margin-top: 10vh;">
					<table>
						<tr>
							<td class="col-lg-3">
								<img th:src="@{*{user.image}}" height="100" width="100">
							</td>
						</tr>
						<tr>
							<th class="active">登録日</th>
						</tr>
						<tr>
							<td class="col-lg-3" th:text="${#dates.format(user.createdAt, 'yyyy/MM/dd')}"></td>
						</tr>
						<tr>
							<th class="active">最終ログイン</th>
						</tr>
						<tr>
							<td class="col-lg-3" th:text="${#dates.format(user.lastLogin, 'yyyy/MM/dd HH:mm')}"></td>
						</tr>
						<tr>
							<th class="active">ユーザーID</th>
						</tr>
						<tr>
							<td class="col-lg-3" th:text="*{user.selfId}"></td>
						<tr>
							<th class="active">ユーザー名</th>
						</tr>
						<tr>
							<td class="col-lg-3" th:text="*{user.name}"></td>
						</tr>
						<tr th:if="${result == 'true'}">
							<td><br><br><a class="btn btn-primary col-lg-6" th:href="@{'/userEdit/' + ${user.id}}">編集</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-lg-8">
				<h1 class="text-center"><span th:text="*{user.name}"></span>さんの投稿一覧</h1>
				<table class="table">
					<tr>
						<th></th>
						<th>タイトル</th>
						<th>著者</th>
						<th>ジャンル</th>
					</tr>
					<tr th:each="book: ${books}">
						<td>
							<img th:src="@{*{book.image}}" height="80" width="60">
						</td>
						<td style="vertical-align: bottom;">
							<a th:href="@{'/bookDetail/' + ${book.id}}" th:text="${book.title}"></a>
						</td>
						<td style="vertical-align: bottom;"><a th:text="${book.author}" th:href="@{'/author/' + *{book.author}}"></a></td>
						<td style="vertical-align: bottom;"><a th:text="*{book.genre}" th:href="@{'/genre/' + *{book.genre}}"></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>