<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
		<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/jquery-raty/2.7.0/jquery.raty.js}"></script>
		<!-- CSSの読み込み -->
		<!-- <link th:href="@{/css/home.css}" rel="stylesheet"> -->
		<title>Bookers</title>
	</head>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">
					Bookers
				</a>
			</div>

			<div class="collapse navbar-collapse" id="navbarEexample3">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/userList}">ユーザー一覧</a></li>
					<li><a th:href="@{/bookList}">投稿一覧</a></li>
					<li><a th:href="@{/mypage}">マイページ</a></li>
					<li><a th:href="@{/bookNew}">投稿</a></li>
				</ul>
				<form class="navbar-form navbar-right" method="post" th:action="@{/logout}">
					<button class="btn btn-danger" type="submit">ログアウト</button>
				</form>
				<form class="navbar-form navbar-right" role="search" method="get" th:action="@{'/search/' + ${word}}">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="検索キーワード" name="word" th:value="${word}">
					</div>
					<button type="submit" class="btn btn-default">検索</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 main">
				<div th:include="__${contents}__"></div>
			</div>
		</div>
	</div>
