<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:fragment="top_contents">
			<div class=" text-center jumbotron" style="margin-top: 20vh;">
				<h1><Strong>Bookers</Strong></h1>
				<form method="get" th:action="@{/login}" sec:authorize="isAnonymous()">
					<button class="btn btn-primary">ログイン</button>
				</form>
				<form method="get" th:action="@{/signup}" sec:authorize="isAnonymous()">
					<button class="btn btn-success">新規登録</button>
				</form>
			</div>
			<form th:action="@{/imageUpload}" method="post" enctype="multipart/form-data">
				<input type="file" name="image">
				<input type="submit" value="送信">
			</form>
		</div>
	</body>
</html>